<div class="text-center ">
  {{!-- See how it attaches to the blogs or photos? --}}
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <button class="upload"> Upload a photo! </button>
  <p>
    <button class="btn btn-primary" >Leave a comment!</button>
  </p>
</div>
</form>




