<div class="text-center ">

  <p>{{text}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <button class="upload"> Upload a photo! </button>

  <div class="form-group">
    <label for="project-desc">Text:</label>
    <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
  </div>

  <p>
    <button class="btn btn-primary" id="comment">Leave a comment!</button>
  </p>

</div>


<script src="/js/comment.js"></script>