
<section class="container-fluid">
    <a href="/dashboard" > &larr; back to dashboard</a>
  <h2 class="title">create new blog post</h2><hr>

  <form class="new-post-form">
     <div id="image-here"></div>
    <div>
      <label for="post-title">title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="insert blog title here"/>
    </div>
    <div>
      <label for="post-content">content:</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="insert blog content here"/>
    </div>
    <div class="create-btn-container">
      <button type="submit" class="button is-primary  create-btn">create post</button>
    </div>
  </form>

 <div>
    <script src="https://media-library.cloudinary.com/global/all.js"></script>
    <button id='my_btn'>Click</button>
    <script src="/javascript/media-cloud.js"></script>
  </div>

</section>

<script src="/javascript/add-post.js"></script>
