    <div class="mb-5 pt-3">
        <a href="/dashboard/create/"><button id="create-post" class="button is-primary is-pulled-right">create post</button></a>
        
        <h2 class="title pb-4">dashboard: your posts</h2><hr>
{{#if posts.length}}
    </div>

    {{#each posts as |post|}}
        {{> post-info post}}
        
            <a href="/dashboard/edit/{{post.id}}"><button class="button mb-5 ml-5 is-warning">edit post</button></a>
        </div>
    {{/each}}

{{else}}
<h6 class="pb-4 has-text-centered is-italic">you do not currently have any posts</h6>

{{/if}}
