
<div class="d-flex justify-content-center blog-container">

  {{#each posts as |post|}}

  {{> post-info post }}
</div>

{{else}}
  <h6 class="pb-4 has-text-centered is-italic">No posts have been made!!!</h6>
{{/each}}
