
body{
    /* background-color: #2C6E49; */
    background-image: url(../images/profile-bg2.jpg);
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
}

.jumbotron, .container, .display-4, .lead{
    /* background-color: #FEFEE3!important; */
    background-color: transparent;
    background-blend-mode: soft-light;
}

header{
    font-family: 'Courgette', cursive;
    text-align: center;
}

.col-sm{
    background-color: unset;
    background-color: palegreen;
    opacity: 50%;
}

.form-container{
    background-color: palegreen;
    background-blend-mode:color-dodge;
    /* background */
    opacity: 100%;
}

/* .col-sm {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-sm::before {    
      content: "";
      background-image: url('https://placekitten.com/1200/800');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
}

h1 {
  position: relative;
  color: #ffffff;  
  font-size: 14rem;
  line-height: 0.9;
  text-align: center;
} */