* {
  box-sizing: border-box;
  max-width: 100vw;
}

  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
    background-image: url(../images/profile-bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

.image {
  height: 500px;
  width: 400px;

  
}


a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

a:hover {
  color: #06203f;
}

button {
  border: 0;
  padding: 1%;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #06203f;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form>div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  font-family: 'Courgette', cursive;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #4871a4;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #06203f;
}

.delete-post-btn {
  background-color: #620202;
}

.delete-post-btn:hover {
  background-color: #ab4f36;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.edit-post-form {
  margin-bottom: 5%;
}

.footer {
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  font-size: 110%;
  background-color: #4C956C;
  position: fixed;
  width: 100%;
  height: 10vh;
  font-family: 'Courgette', cursive;
}

.footer-div {
  width: 100%;
  height: 18px;
  margin: .25%
}

.card {
  margin-bottom: 1em;
  margin-top: 1em;
}

.rows {
  display: flex;
  flex-direction: column;
}


/* Navbar format settings */
#headerId {
  justify-content: space-between;
  width: 100%;
  height: 12vh;
  align-items: baseline;

}

ul.nav{
  align-content: center;
  align-items: center;

}


.navbar {
  width: 100%;
  justify-content: space-between;
  justify-self: flex-end; 
  background-color: #2C6E49 ;
}

.navbar-collapse {
  justify-content: flex-end;
  width: fit-content;
  background-color: #2c6e49c9;
}

.navbar-toggler {
  width: min-content;
  align-self: flex-end;
}

.nav {
  text-align: end;
  align-content: flex-end;
  width: auto;
}

#nav {
  text-align: end;
  justify-content: flex-end;
}

.nav-item {
  list-style: none;
  width: fit-content;
}

#navItemHover:hover {
  background-color: #2c6e49;
  color: whitesmoke;
}

.nav-list {
  display: flex;
  width: fit-content;
  align-content: flex-end;
  margin-right: 0;
}

.nav-link {
  color: white;
  font-size: x-large;
}

.nav-link:hover {
  color: gray;
}

.nav-title {
  color: white;
  font-size: x-large;
}

.nav-list-container {
  justify-content: flex-end;
}

/* Homepage styling */
.blog-container {
  flex-wrap: wrap;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.card {
  margin: 5px;
  background-color: #FFC9B9; 
}

.card-header{
  background-color: #D68C45;
}

#postCardHeader {
  background-color: #D68C45;
}

/* Create Post Styling */
.create-btn-container {
  height: 40px;
}

body, main{
  background-image: url(/images/login.jpg);
}
.column{
  background-color: white;
}


.mb-5.pt-3{
  background-color:#FFC9B9;
  text-align: center;
}

#myposts{
  background-color:#FFC9B9;
  text-align: center;
  font-style: italic;
}

.mptitle{
  text-align: center;
  font-style: italic;
}

section.container-fluid{
  background-color: #FFC9B9;
}

.new-post-form{
  background-color: #FFC9B9;
}

footer.footer.rows.pb-2{
  background-color: #2C6E49;
}

main {
  min-height: 80vh;
}


/* Responsiveness */
@media screen and (max-width: 767px) {
  .nav {
    flex-direction: column;
    align-content: flex-end;
  }
  .navbar {
    padding-top: 2vh;
  }

  .nav-list {
    flex-direction: column;
  }
  .blog-container {
    width: 80vw;
  }
  
} 
